<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        body {
            margin: 0px;/*This removes the border around the canvas that Phaser adds, making the game actually take up all the available space*/
        }
    </style>
    <!-- <script src="node_modules/@orange-games/phaser-input/build/phaser-input.js"></script> -->
</head>
<body>
</body>
</html>
